LendingClubCaseStudy

In [1]:
import pandas as pd

Reading the Dataset

In [2]:
df=pd.read_csv('loan.csv',low_memory=False)
df.shape

(39717, 111)

Cleaning the dataset

In [3]:
#Checking the percentage of Nan values in dataset
percentage_null=round(df.isnull().sum() * 100 / len(df),2)
percentage_null

id                              0.0
member_id                       0.0
loan_amnt                       0.0
funded_amnt                     0.0
funded_amnt_inv                 0.0
                              ...
tax_liens                       0.1
tot_hi_cred_lim               100.0
total_bal_ex_mort             100.0
total_bc_limit                100.0
total_il_high_credit_limit    100.0
Length: 111, dtype: float64

In [4]:
#Dropping the Columns having greater or equal to 75% Nan values
df=df.drop(percentage_null[percentage_null>=75.0].index,axis=1)
df.shape

(39717, 55)

In [5]:
# Finding the columns having unique data
# Sorted unique values based on the columns
# Dropping the unnecessary columns as per the column's data uniqueness
# dropped columns [tax_liens, delinq_amnt, chargeoff_within_12_mths, acc_now_delinq, application_type, policy_code, collections_12_mths_ex_med, initial_list_status pymnt_plan]

columns_with_unique_values=df.nunique().sort_values()
df_unique_values = columns_with_unique_values.to_frame().reset_index()
df_unique_values.rename(columns = {'index':'names',0:'uniquecount'},inplace = True)
df_unique_values=df_unique_values[df_unique_values.uniquecount==1]
df_unique_values
df=df.drop(columns=df_unique_values['names'][0:len(df_unique_values)],axis=1)
df.shape

(39717, 46)

In [6]:
#Dropping the columns which are not required for the data analysis (Cosutomer behaviour)
df=df.drop(columns=['delinq_2yrs','member_id','desc','title','zip_code','mths_since_last_delinq','pub_rec_bankruptcies','emp_title','earliest_cr_line','inq_last_6mths','open_acc','pub_rec','revol_bal','out_prncp','out_prncp_inv','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','total_rec_late_fee','recoveries','collection_recovery_fee','last_pymnt_d','last_pymnt_amnt','last_credit_pull_d','url'],axis=1)
df.shape

(39717, 20)

In [7]:
#Dropping the rows home_ownership is having NONE values
df=df[df.home_ownership!='NONE']

#Dropping the rows loan_status is having Current Value
df=df[df.loan_status!="Current"]

In [8]:
#Removing the % from int_rate column
df.int_rate=df.int_rate.str.strip("%").astype(float)
#Removing the % from revol_util column 
#revol_util column is customer behaviour column can be removed if not required
df.revol_util=df.revol_util.str.strip("%").astype(float)
#Converting the term column to integers ( eg: 36 months as 36)
df.term=df.term.str.strip("months").astype(int)
#Formatting issue_d
df.issue_d=pd.to_datetime(df.issue_d,format='%b-%y')
#converting installment column to int
df.installment=df.installment.astype(int)

In [9]:
#Approved ratio of loan amount (funded_amnt_inv/loan_amnt)*100

df['loan_amnt_approved_ratio']=round((df.funded_amnt_inv*100)/(df.loan_amnt),2)

In [10]:
#emp_length column modification to number of years ( eg: 6 years as 6)

#Filling the empty cells of emp_length with 0

0        10+ years
1         < 1 year
2        10+ years
3        10+ years
5          3 years
           ...
39712      4 years
39713      3 years
39714     < 1 year
39715     < 1 year
39716     < 1 year
Name: emp_length, Length: 38574, dtype: object

In [11]:
#annual_inc
df.annual_inc[14]

100000.0

In [12]:
#Converting final data after cleaning to csv file

df.to_csv('loan_data.csv', index = False, encoding='utf-8') # False: not include index
print(df)

            id  loan_amnt  funded_amnt  funded_amnt_inv  term  int_rate  \
0      1077501       5000         5000           4975.0    36     10.65
1      1077430       2500         2500           2500.0    60     15.27
2      1077175       2400         2400           2400.0    36     15.96
3      1076863      10000        10000          10000.0    36     13.49
5      1075269       5000         5000           5000.0    36      7.90
...        ...        ...          ...              ...   ...       ...
39712    92187       2500         2500           1075.0    36      8.07
39713    90665       8500         8500            875.0    36     10.28
39714    90395       5000         5000           1325.0    36      8.07
39715    90376       5000         5000            650.0    36      7.43
39716    87023       7500         7500            800.0    36     13.75

       installment grade sub_grade emp_length  ... annual_inc  \
0              162     B        B2  10+ years  ...    24000.0
1               59     C        C4   < 1 year  ...    30000.0
2               84     C        C5  10+ years  ...    12252.0
3              339     C        C1  10+ years  ...    49200.0
5              156     A        A4    3 years  ...    36000.0
...            ...   ...       ...        ...  ...        ...
39712           78     A        A4    4 years  ...   110000.0
39713          275     C        C1    3 years  ...    18000.0
39714          156     A        A4   < 1 year  ...   100000.0
39715          155     A        A2   < 1 year  ...   200000.0
39716          255     E        E2   < 1 year  ...    22000.0

       verification_status    issue_d  loan_status             purpose  \
0                 Verified 2011-12-01   Fully Paid         credit_card
1          Source Verified 2011-12-01  Charged Off                 car
2             Not Verified 2011-12-01   Fully Paid      small_business
3          Source Verified 2011-12-01   Fully Paid               other
5          Source Verified 2011-12-01   Fully Paid             wedding
...                    ...        ...          ...                 ...
39712         Not Verified 2007-07-01   Fully Paid    home_improvement
39713         Not Verified 2007-07-01   Fully Paid         credit_card
39714         Not Verified 2007-07-01   Fully Paid  debt_consolidation
39715         Not Verified 2007-07-01   Fully Paid               other
39716         Not Verified 2007-06-01   Fully Paid  debt_consolidation

      addr_state    dti  revol_util  total_acc  loan_amnt_approved_ratio
0             AZ  27.65        83.7          9                     99.50
1             GA   1.00         9.4          4                    100.00
2             IL   8.72        98.5         10                    100.00
3             CA  20.00        21.0         37                    100.00
5             AZ  11.20        28.3         12                    100.00
...          ...    ...         ...        ...                       ...
39712         CO  11.33        13.1         40                     43.00
39713         NC   6.40        26.9          9                     10.29
39714         MA   2.30        19.4         20                     26.50
39715         MD   3.72         0.7         26                     13.00
39716         MA  14.29        51.5          8                     10.67

[38574 rows x 21 columns]

Uni Variate Analysis