LendingClubCaseStudy

In [45]:
import pandas as pd

Reading the Dataset

In [46]:
df=pd.read_csv('loan.csv',low_memory=False)
df.shape

(39717, 111)

Cleaning the dataset

In [47]:
#Checking the percentage of Nan values in dataset
percentage_null=round(df.isnull().sum() * 100 / len(df),2)
percentage_null

id                              0.0
member_id                       0.0
loan_amnt                       0.0
funded_amnt                     0.0
funded_amnt_inv                 0.0
                              ...
tax_liens                       0.1
tot_hi_cred_lim               100.0
total_bal_ex_mort             100.0
total_bc_limit                100.0
total_il_high_credit_limit    100.0
Length: 111, dtype: float64

In [48]:
#Droping the Columns having greater or equal to 75% Nan values
df=df.drop(percentage_null[percentage_null>=75.0].index,axis=1)
df.shape

(39717, 55)

In [42]:
# Finding the columns having unique data
# Sorted unique values based on the columns
# Dropping the unnecessary columns as per the column's data uniqueness
# dropped columns [tax_liens, delinq_amnt, chargeoff_within_12_mths, acc_now_delinq, application_type, policy_code, collections_12_mths_ex_med, initial_list_status pymnt_plan]
df.drop(df.nunique().sort_values().head(9).index, axis=1, inplace=True)

In [43]:
df.shape

(39717, 46)

In [56]:
s=df.nunique().sort_values()
df1 = s.to_frame().reset_index()
df1.rename(columns = {0:'uniquecount'},inplace = True)

In [61]:
df1=df1[df1.uniquecount==1]
df1

                        index  uniquecount
0                   tax_liens            1
1                 delinq_amnt            1
2    chargeoff_within_12_mths            1
3              acc_now_delinq            1
4            application_type            1
5                 policy_code            1
6  collections_12_mths_ex_med            1
7         initial_list_status            1
8                  pymnt_plan            1

In [63]:
df.drop(df[df1.index])

KeyError: "None of [Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')] are in the [columns]"

In [ ]:
df.shape